@import '../../../styles/variables';

.card-title-box {
  padding: 1.5rem;
  border-bottom: 2px solid $color-light-grayblue;
  h3 {
    padding: 0;
    margin: 0;
  }
}

.cart-body {
  padding: 1.5rem;
}

.empty-cart-content {
  padding: 4rem;
  text-align: center;
  color: $color-dark-grayblue;
  font-weight: 700;
}
