@import '../../../styles/variables';

.avatar {
  height: 50px;
  margin-left: 45px;
  margin-right: 5px;
  border: solid 2px transparent;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
  }

  &.active {
    border: solid 2px $color-primary;
  }
}

.cart-nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  svg {
    transform: scale(1.2);
  }
}

.cart-icon-container {
  position: relative;
  padding: 5px;
}

.cart-nav-badge {
  // display: none; // TODO:
  position: absolute;
  top: -6px;
  right: -10px;
  background: $color-primary;
  color: $color-white;
  padding: 1px 10px;
  border-radius: 10px;
  font-size: 0.8rem;
}

@media only screen and (max-width: 800px) {
  .avatar {
    height: 40px;
    margin-left: 25px;
    margin-right: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .avatar {
    height: 35px;
    margin-left: 20px;
    margin-right: -15px;

    &.active {
    }
  }

  .cart-nav-container {
  }
}
