// ### Primary
$color-primary: hsl(26, 100%, 55%);
$color-secondary: hsl(25, 100%, 94%);

// ### Neutral
$color-dark-blue: hsl(220, 13%, 13%);
$color-dark-grayblue: hsl(219, 9%, 45%);
$color-grayblue: hsl(220, 14%, 75%);
$color-light-grayblue: hsl(223, 64%, 98%);
$color-white: hsl(0, 0%, 100%);
// - Black (with 75% opacity for lightbox background): hsl(0, 0%, 0%)
$color-black: hsl(0, 0%, 0%);

// SPACES
$button-height: 3rem;
